body {
    background-color : #2e2e2e;
}
h1 {
    color: white;
    font-family: Impact;
    font-size: 85px;
}

h2 {
	font-size: 55px;
	color: #4ec10f;
	position:relative;
}

p {
    color: #eee;
    font-size: medium;
}

.tab {
    text-indent: 50px;
}


.navLink {
    color: white;
	float: right;
}


#content {
    font-family: "Courier New";
    width: 70%;
    display: inline-block;
	left: 10px;
	vertical-align:top;
}

#info {
	position: relative;
	left:55px;
}
#next {
	display: inline-block;
	width:110px;
	height: 110px;
	border-radius: 110px;
	box-shadow: 0px 0px 5px;
	background-color: #4ec10f;
	margin-top: 240px;
	margin-left: 200px;
}

#next:hover{
    background-color: #05390A;
}

#arrow {
	height: 100px;
	position: relative;
	left:23px;
	top:5px;
}

#wrap{
	display: inline-block;
}