body {
    background: #eee;
    font-family:  sans-serif;
}

#wrap{
    margin-left:  auto;
    margin-right: auto;
    width: 1280px;
    position: relative;
}

#title{
    color: #eee;
    background: rgb(20,20,20);
    font-size: 24pt;
    top: 20px;
    left: 20px;
    padding: 0px 5px;
    text-align: center;    
    position: absolute;
}
#map {
    background: url('../images/map.jpg') no-repeat;
    height: 720px;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 10px 5px;
    position: relative;
    z-index: 1;
}

.marker {
    position: absolute;

}

.marker > .icon {
    background: rgba(211, 76, 76, 0.76);
    box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 2px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: none;
    float: left;
}

.marker > .icon:hover {
    background: rgba(211, 76, 76, 0.9);
    box-shadow: rgba(0,0,0,0.3) 0px 2px 1px 2px;
    cursor: pointer;
    cursor: hand;
}

.marker > .name {
    background: rgba(20,20,20,0.8);
    color: #eee;
    padding: 0px 3px; 
    float: right;
    margin-left: 3px;
    margin-top: 2px;
}


#display {
    background: rgba(50,50,50, 0.9);
    box-shadow: rgba(0,0,0,0.2) 0px 5px 10px 5px;

    width: 1260px;
    height: 700px;
    z-index: 5;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: none;
}

#exitdisplay{
    position: absolute;
    font-weight: bold;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background: rgba(211, 76, 76, 0.9);
    color: rgb(50,50,50);
    font-size: 13pt;
    padding-left: 6px;
    padding-top: 1px;
    top: 5px;
    right: 5px;
}

#exitdisplay:hover {
    background: rgba(211, 76, 76, 0.9);
    box-shadow: rgba(0,0,0,0.3) 0px 2px 1px 2px;
    cursor: pointer;
    cursor: hand;
}

#slide {
    float: left;
    background: #eee;
    width: 960px;
    height: 540px;
    margin: 5px 0px 0px 0px;

    box-shadow: rgba(0,0,0,0.2) 0px 0px 5px 5px;
    position: relative;
}

#slidetitle{
    color: #eee;
    background: rgb(20,20,20);
    font-size: 18pt;
    top: 10px;
    left: 10px;
    line-height: 22pt;
    padding: 0px 5px;
    text-align: center;   
    position: absolute; 
    box-shadow: rgba(0,0,0,0.3) 2px 2px 3px 1px;
}

#galleries{
    float: left;
    width: 266px;
    height: 540px;
    margin: 5px 0px 0px 0px;
}

.gallery {
    background: rgba(0,0,0,0.5);
    height: 135px;
    width: 256px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.galleryname{
    color: #eee;
    background: rgb(20,20,20);
    font-size: 12pt;
    margin-top: 3px;
    margin-left: 3px;
    line-height: 16pt;
    padding: 0px 5px;
    display: inline-block;   
    box-shadow: rgba(0,0,0,0.3) 2px 2px 3px 1px;
}

.nav {

    float: left;
    display: inline-block;
    background: rgba(0,0,0,0.0);
    height: 540px;
    width: 150px;
}

.nav:hover {
    background: rgba(50,50,50,0.7);
    cursor: pointer;
    cursor: hand;
}